// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia"
    spawn-sh-at-startup "~/.config/niri/bin/vivaldi --profile-directory=Default --app-id=hpfldicfbfomlpcikngkocigghgafkph"
